{% extends 'main/layout.html' %}


{% block title %}{{ title }}{% endblock %}

{% block content %}
    <div class = "features">
        <h1>{{ title }}</h1>
        <p>"Шахи" - це старовинна стратегічна настільна гра для двох гравців, які переміщують свої фігури на ігровій дошці, намагаючись захопити короля суперника. Гра вважається однією з найінтелектуальніших і вимагає від гравців глибокої стратегічної думки та тактичного розуму</p>

        <button class="btn btn-warning">ПРО МЕНЕ</button>

    </div>

{% endblock %}